.site-calendar-demo-card {
  width: 400px!important;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  float: left;
}
  .site-Bar{
    padding-right: 50px;
    width: 500px;
    float: right;
    border: 1px solid red;
  }
  .site-outside{
    width: 2000px;
    border: 1px solid red;
  }