.examCard{
    left: 100px;
    border: 1px solid red;
}
.innerCard{
    width: 500px;
}
.textArea{
    width: 470px;
    height: 100px ;
}
.textArea1{
    height: 150px!important;
}
.RowCss{
    height: 200px;
}
.RowCssOther{
    height: 100px;
}