.select_student{
    width: 2000px;
}
.selectScss{
    width: 500px;
}


.ant-card{
    width: 1319px;
}
.addButton{
    left: 400px;
    
    border-radius: 10px!important;
    width: 110px!important;
    height: 110px!important;
    
}
.selectInput{
    width: 400px;
    border: none;
    border-bottom: 2px solid grey;
    
}
.FormSelect{
    
    width: 600px;
}
.buttonCard{
    left: 300px;
    
    width: 250px;
} 
